
<div class="col-2">
    <div class="vertical-menu">
        <a href="/admin" {{#if homePage}} class="active" {{/if}}>Home</a>
        <a href="/admin/users" {{#if usersPage}} class="active" {{/if}}>Users</a>
        <a href="/admin/matches" {{#if matchesPage}} class="active" {{/if}} >Matches</a>
        <a href="/admin/roles"  {{#if rolesPage}} class="active" {{/if}} >Roles</a>
    </div>
</div>